<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
        <h1>Alimentos</h1>
    </header>
    
<main>
    <div class="container">  
        <% comidas.forEach( item => { %> 
        <div class="item">
            <a href="/comidas/<%= item.id %>">
                <h2><%= item.nome %></h2>
                <p><%= item.descricao %></p>
                <img src="<%= item.imagem %>" alt="capa do filme">
            </a></div>   
        <% }); %>
    </div>

    <div class="containerDois">  
        <% alimentos.forEach( item2 => { %> 
        <div class="itemDois">
            <a href="/alimentos/<%= item2.id %>">
                <h2><%= item2.nome %></h2>
                <p><%= item2.descricao %></p>
                <img src="<%= item2.imagem %>" alt="capa do filme">
            </a></div>    
        <% }); %>
    </div>

</main>


    <script src="./js/script.js"></script>
</body>
</html>